body {
    font-size: 18px;
    min-height: 100vh;
    font-family: 'Roboto', Times, serif;
    color:black ;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    
}

.header,.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    
}


.bodysecond {
    background-color: #E5E7EB;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyfirst img {
    height: 200px;
    width: 200px;
    border: 3px solid rgb(0, 119, 255);
    border-radius: 20px;
}

.bodyfirst {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.imagesection {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.bodyimage {
    
    flex-basis: 250px;
}

.information {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.bodythird, .banner {
    display: flex;
}

.bodythird {
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.banner {
    justify-content: space-around;
    width: 60%;
    padding: 30px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;

}


.bannertext {
    color: #E5E7EB;
}

.buttonbanner,.leftbanner {
    align-self: center;
}

.bannerheader {
    font-size: 25px;
    font-weight: 500;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding-left: 0px;
    gap: 10px;
}


a,.headertext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.boldheader {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.header1,.header4 {
    align-self: flex-start;
}

.header2,.header3 {
    align-self: center;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0px;
}

.quoteauthor {
    align-self: flex-end;
    font-weight: bold;
    margin-top: 0px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 15px;
    padding: 5px;
    padding-left: 22px;
    padding-right: 22px;
    border: solid white
}

.header button {
    border-style: none;
    margin-top: 15px;
}

* {
    flex-shrink: 1;
}